<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
  @for (animal of animals(); track animal.id_animal) {
  <div class="bg-white/80 rounded-lg p-4 shadow-sm border border-secondary/10">
    <div class="flex items-center gap-4 mb-4">
      <img
        [src]="animal.images"
        [alt]="animal.name"
        class="w-16 h-16 rounded-full object-cover border-2 border-tertiary shadow-md"
      />
      <h2 class="text-xl font-bold text-tertiary">{{ animal.name }}</h2>
    </div>
    <app-feeding-history [animalId]="animal.id_animal" />
  </div>
  }
</div>
