<section class="w-full bg-primary shadow py-8">
  <!-- En-tête de section -->
  <div class="container mx-auto px-4">
    <div class="text-center mb-12">
      <h1 class="text-3xl md:text-5xl font-serif text-quinary font-bold mb-6">
        Nos Habitats
      </h1>
      <p class="text-base md:text-lg text-quinary font-sans max-w-4xl mx-auto">
        Découvrez les habitats naturels de nos animaux
      </p>
    </div>

    <!-- Grille des habitats -->
    <div
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 max-w-7xl mx-auto mb-12"
    >
      @for (habitat of habitats(); track habitat.id_habitat) {
      <div
        class="relative group aspect-square rounded-2xl overflow-hidden shadow-lg"
      >
        <a [routerLink]="['/habitat', habitat.id_habitat]" class="block h-full">
          <!-- Image -->
          <img
            [src]="habitat.images"
            [alt]="'Habitat de ' + habitat.name"
            class="w-full h-full object-cover"
          />

          <!-- Overlay au survol -->
          <div
            class="absolute inset-0 bg-tertiary bg-opacity-90 opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex flex-col justify-center items-center p-6"
          >
            <h3
              class="text-primary text-xl md:text-2xl font-serif font-semibold mb-4"
            >
              {{ habitat.name }}
            </h3>
          </div>

          <!-- Titre visible en permanence sur mobile -->
          <div
            class="absolute bottom-0 left-0 right-0 bg-tertiary bg-opacity-90 p-4 md:group-hover:opacity-0 transition-opacity"
          >
            <h3
              class="text-primary text-lg font-serif font-semibold text-center"
            >
              {{ habitat.name }}
            </h3>
          </div>
        </a>
      </div>
      }
    </div>

    <!-- Bouton de retour -->
    <div class="flex justify-center">
      <app-button
        [text]="'Retour'"
        [type]="'button'"
        [color]="'tertiary'"
        [rounded]="true"
        class="w-full sm:w-1/2 lg:w-1/4 font-bold"
        (click)="goBack()"
      ></app-button>
    </div>
  </div>
</section>
