<section class="w-screen bg-secondary shadow pt-4">
  <!-- Titre de la section -->
  <div class="text-center mb-4">
    <h2
      class="text-xl sm:text-2xl md:text-3xl font-bold text-primary font-serif"
    >
      Nos Habitats
    </h2>
  </div>

  <!-- Utilisation de flex pour une seule ligne -->
  <div class="flex flex-nowrap justify-center gap-6 px-12">
    <!-- Habitat 1 : Jungle -->
    <a
      href="#"
      class="w-1/4 flex flex-col items-center rounded-lg shadow"
      appBorderCard
    >
      <div class="w-full">
        <app-button
          [text]="'Jungle'"
          [type]="'button'"
          [variant]="'tertiary'"
        ></app-button>
      </div>

      <div class="relative group w-full h-64">
        <img
          src="images/home/jungle.svg"
          alt="Habitat de la Jungle"
          class="w-full h-full object-cover rounded-b-lg"
        />
      </div>
    </a>

    <!-- Habitat 2 : Savane -->
    <a
      href="#"
      class="w-1/4 flex flex-col items-center rounded-lg shadow"
      appBorderCard
    >
      <div class="w-full">
        <app-button
          [text]="'Savane'"
          [type]="'button'"
          [variant]="'tertiary'"
        ></app-button>
      </div>

      <div class="relative group w-full h-64">
        <img
          src="images/home/savane.svg"
          alt="Habitat de la Savane"
          class="w-full h-full object-cover rounded-b-lg"
        />
      </div>
    </a>

    <!-- Habitat 3 : Marais -->
    <a
      href="#"
      class="w-1/4 flex flex-col items-center rounded-lg shadow"
      appBorderCard
    >
      <div class="w-full">
        <app-button
          [text]="'Marais'"
          [type]="'button'"
          [variant]="'tertiary'"
        ></app-button>
      </div>

      <div class="relative group w-full h-64">
        <img
          src="images/home/marais.svg"
          alt="Habitat du Marais"
          class="w-full h-full object-cover rounded-b-lg"
        />
      </div>
    </a>
  </div>
</section>
