<section class="w-screen bg-secondary shadow pb-4 pt-4">
  <!-- Titre de la section -->
  <div class="text-center mb-4">
    <h1
      class="text-xl sm:text-2xl md:text-6xl font-bold text-primary font-serif"
    >
      Nos Habitats
    </h1>
    <h3
      class="text-base sm:text-lg md:text-xl text-quinary font-sans leading-relaxed max-w-7xl mx-auto mt-4"
    >
      Explorez la beauté sauvage et la diversité fascinante de trois écosystèmes
      uniques : la savane, la jungle et les marais. Dans la vaste étendue
      herbeuse de la savane, observez les majestueux lions, éléphants et
      antilopes, parfaitement adaptés aux conditions chaudes et arides. En
      entrant dans la jungle dense et luxuriante, laissez-vous envoûter par
      l'ambiance mystérieuse et les sons des animaux exotiques cachés dans cet
      écosystème vibrant. Enfin, pénétrez les marais, un monde humide et
      mystérieux où reptiles et amphibiens prospèrent, rappelant l’importance
      vitale de cet équilibre naturel. Chaque habitat vous dévoile la richesse
      de la vie sous ses formes les plus étonnantes.
    </h3>
  </div>

  <!-- Liste des habitats -->
  <div
    class="flex flex-col sm:flex-row sm:flex-nowrap justify-center gap-6 px-6 sm:px-12 pb-4"
  >
    @for (habitat of habitats(); track habitat.id_habitat) {
    <a
      [routerLink]="['/habitat', habitat.id_habitat]"
      class="w-full sm:w-1/4 flex flex-col items-center rounded-lg shadow"
      appBorderCard
    >
      <div class="w-full">
        <div
          class="text-center font-bold py-2 bg-tertiary text-white rounded-t-lg"
        >
          {{ habitat.name }}
        </div>
      </div>

      <div class="relative group w-full h-64">
        <img
          [src]="habitat.images"
          [alt]="'Habitat de ' + habitat.name"
          class="w-full h-full object-cover rounded-b-lg"
        />
      </div>
    </a>
    }
  </div>
</section>
