<section
  class="min-h-screen flex items-center justify-center bg-gradient-to-b from-secondary to-primary py-12 px-4 sm:px-6 lg:px-8"
>
  <div
    class="bg-white/80 backdrop-blur-sm p-8 rounded-2xl shadow-xl w-full max-w-md space-y-8"
  >
    <!-- En-tête -->
    <div class="text-center space-y-4">
      <h1 class="text-3xl font-serif font-bold text-tertiary">Connexion</h1>
      <p class="text-lg text-gray-600 font-serif italic">
        Accédez à votre espace personnel
      </p>
    </div>

    <!-- Composant Toast -->
    <app-toast />

    <!-- Formulaire -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-6">
      <!-- Email -->
      <div>
        <label for="email" class="block text-lg font-medium text-tertiary mb-2">
          Email
        </label>
        <input
          id="email"
          type="email"
          formControlName="email"
          class="w-full p-3 border border-secondary/30 rounded-lg focus:ring-2 focus:ring-tertiary focus:border-transparent transition-all duration-300"
          [ngClass]="{
            'border-red-300 ring-red-300':
              loginForm.get('email')?.invalid && loginForm.get('email')?.touched
          }"
          placeholder="exemple@domaine.com"
        />
        @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched)
        {
        <p class="mt-2 text-sm text-red-600">
          {{ getErrorMessage("email") }}
        </p>
        }
      </div>

      <!-- Mot de passe -->
      <div>
        <label
          for="password"
          class="block text-lg font-medium text-tertiary mb-2"
        >
          Mot de passe
        </label>
        <input
          id="password"
          type="password"
          formControlName="password"
          class="w-full p-3 border border-secondary/30 rounded-lg focus:ring-2 focus:ring-tertiary focus:border-transparent transition-all duration-300"
          [ngClass]="{
            'border-red-300 ring-red-300':
              loginForm.get('password')?.invalid &&
              loginForm.get('password')?.touched
          }"
          placeholder="••••••••"
        />
        @if (loginForm.get('password')?.invalid &&
        loginForm.get('password')?.touched) {
        <p class="mt-2 text-sm text-red-600">
          {{ getErrorMessage("password") }}
        </p>
        }
      </div>

      <!-- Bouton de connexion -->
      <div class="pt-6">
        <app-button
          [text]="'Se connecter'"
          [type]="'submit'"
          [color]="'tertiary'"
          [rounded]="true"
          [disabled]="loginForm.invalid"
          [customClass]="
            'w-full font-bold shadow-md hover:shadow-lg transition-all duration-300 py-3'
          "
        ></app-button>
      </div>
    </form>
  </div>
</section>
