@if (habitat()) {
<section class="w-full bg-primary shadow py-4">
  <!-- Section Titre de l'habitat -->
  <div class="text-center">
    <h1
      class="text-xl sm:text-2xl md:text-6xl text-quinary font-bold font-serif"
    >
      {{ habitat()?.name }}
    </h1>

    <!-- Section Description et Image de l'habitat -->
    <div class="w-full flex flex-col items-center">
      <!-- Description de l'habitat -->
      <div class="w-full lg:w-2/3">
        <h1 class="text-lg text-quinary font-sans text-center py-4">
          {{ habitat()?.description }}
        </h1>
      </div>

      <!-- Image de l'habitat -->
      <div
        class="w-full lg:w-2/3 rounded-lg overflow-hidden pb-2 flex justify-center"
      >
        <img
          [src]="habitat()?.image"
          [alt]="habitat()?.name"
          class="w-full h-96 object-cover rounded-lg"
        />
      </div>
    </div>
  </div>

  <!-- Section Carte des animaux associés à l'habitat -->
  <div class="flex justify-center items-center w-full">
    <div
      class="bg-secondary shadow-lg rounded-lg p-6 w-full lg:w-2/3 flex flex-col items-center"
    >
      <div class="w-full flex flex-col items-center">
        <h2 class="text-4xl text-quinary font-bold font-serif pt-2">
          Les animaux de l'habitat
        </h2>

        <!-- Boucle pour afficher les cartes des animaux -->
        <div class="flex flex-wrap justify-center gap-4 w-full mt-4">
          @for (animal of animals(); track animal.id) {
          <a
            [routerLink]="['/animal', animal.id]"
            class="w-full sm:w-1/2 lg:w-1/3 flex flex-col items-center rounded-lg shadow"
            appBorderCard
          >
            <!-- Nom de l'animal -->
            <div class="w-full">
              <div
                class="text-center font-bold py-2 bg-tertiary text-white rounded-t-lg"
              >
                {{ animal.name }}
              </div>
            </div>

            <!-- Image de l'animal -->
            <div class="relative group w-full h-64">
              <img
                [src]="animal.image"
                [alt]="'Animal ' + animal.name"
                class="w-full h-full object-cover rounded-b-lg"
              />
            </div>
          </a>
          }
        </div>
      </div>

      <!-- Bouton de retour -->
      <div class="w-full flex justify-center pt-8">
        <app-button
          [text]="'Retour'"
          [type]="'button'"
          [color]="'tertiary'"
          [rounded]="true"
          class="w-1/4 lg:w-1/4 font-bold"
          (click)="goBack()"
        ></app-button>
      </div>
    </div>
  </div>
</section>
}
