@if (habitat()) {
<section class="w-full bg-primary shadow py-8">
  <div class="container mx-auto px-4">
    <!-- En-tête de section -->
    <div class="text-center mb-12">
      <h1 class="text-3xl md:text-5xl font-serif text-quinary font-bold mb-6">
        {{ habitat()?.name }}
      </h1>
      <p class="text-base md:text-lg text-quinary font-sans max-w-4xl mx-auto">
        {{ habitat()?.description }}
      </p>
    </div>

    <!-- Image principale de l'habitat -->
    <div class="max-w-4xl mx-auto mb-12">
      <div
        class="relative group rounded-2xl overflow-hidden shadow-lg h-[250px] md:h-[400px]"
      >
        <img
          [src]="habitat()?.images"
          [alt]="habitat()?.name"
          class="w-full h-full object-cover"
        />
      </div>
    </div>

    <!-- Section des animaux -->
    <div class="max-w-5xl mx-auto">
      <h2
        class="text-2xl md:text-4xl font-serif text-quinary font-bold text-center mb-8"
      >
        Les animaux de l'habitat
      </h2>

      <!-- Grille des animaux -->
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mb-12">
        @for (animal of animals(); track animal.id_animal) {
        <div
          class="relative group rounded-2xl overflow-hidden shadow-lg h-[100px] md:h-[300px]"
        >
          <a [routerLink]="['/animal', animal.id_animal]" class="block h-full">
            <!-- Image -->
            <img
              [src]="animal.images"
              [alt]="animal.name"
              class="w-full h-full object-cover"
            />

            <!-- Overlay au survol -->
            <div
              class="absolute inset-0 bg-tertiary bg-opacity-90 opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex flex-col justify-center items-center p-6"
            >
              <h3
                class="text-primary text-xl md:text-2xl font-serif font-semibold mb-4"
              >
                {{ animal.name }}
              </h3>
            </div>

            <!-- Titre visible en permanence sur mobile -->
            <div
              class="absolute bottom-0 left-0 right-0 bg-tertiary bg-opacity-90 p-4 md:group-hover:opacity-0 transition-opacity"
            >
              <h3
                class="text-primary text-lg font-serif font-semibold text-center"
              >
                {{ animal.name }}
              </h3>
            </div>
          </a>
        </div>
        }
      </div>

      <!-- Bouton de retour -->
      <div class="flex justify-center">
        <app-button
          [text]="'Retour'"
          [type]="'button'"
          [color]="'tertiary'"
          [rounded]="true"
          class="w-full sm:w-1/2 lg:w-1/4 font-bold"
          (click)="goBack()"
        ></app-button>
      </div>
    </div>
  </div>
</section>
}
