<section class="bg-primary py-12 px-4 md:px-8">
  <div class="text-center mb-12">
    <h2 class="text-3xl font-serif text-quinary mb-4">Avis de nos visiteurs</h2>
    <p class="text-gray-600 max-w-2xl mx-auto">
      Découvrez ce que nos visiteurs pensent de leur expérience
    </p>
  </div>

  <div class="max-w-xl mx-auto">
    @if (userOpinions().length > 0) {
    <div
      class="bg-white rounded-lg shadow-lg p-8 mb-8 transition-all duration-300 border border-quinary/10 hover:border-quinary/20"
    >
      <div class="flex items-center justify-between mb-6">
        <div class="flex items-center gap-4">
          <div
            class="w-12 h-12 bg-secondary rounded-full flex items-center justify-center"
          >
            <span class="text-white text-xl font-semibold">
              {{ userOpinions()[currentUserOpinionsIndex()].name.charAt(0) }}
            </span>
          </div>
          <div>
            <h3 class="font-semibold text-lg text-quinary">
              {{ userOpinions()[currentUserOpinionsIndex()].name }}
            </h3>
            <p class="text-sm text-gray-500">
              {{
                userOpinions()[currentUserOpinionsIndex()].date
                  | date : "dd MMMM yyyy" : "fr-FR"
              }}
            </p>
          </div>
        </div>

        <app-rate
          [rating]="currentRating"
          [isReadOnly]="isReadOnly"
          class="scale-90"
        >
        </app-rate>
      </div>

      <p class="text-gray-700 mb-6 italic">
        "{{ userOpinions()[currentUserOpinionsIndex()].message }}"
      </p>

      <div class="flex justify-between items-center">
        <app-button
          [text]="''"
          [customClass]="
            'p-2 rounded-full hover:bg-gray-100 disabled:opacity-50 disabled:cursor-not-allowed w-auto'
          "
          (click)="changeUserOpinions('previous')"
          [disabled]="currentUserOpinionsIndex() === 0"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M15 19l-7-7 7-7"
            />
          </svg>
        </app-button>

        <div class="flex gap-2">
          @for (review of userOpinions(); track review.id) {
          <div
            class="w-2 h-2 rounded-full cursor-pointer transition-all duration-300"
            [class.bg-tertiary]="
              userOpinions().indexOf(review) === currentUserOpinionsIndex()
            "
            [class.bg-gray-300]="
              userOpinions().indexOf(review) !== currentUserOpinionsIndex()
            "
            (click)="
              currentUserOpinionsIndex.set(userOpinions().indexOf(review))
            "
          ></div>
          }
        </div>

        <app-button
          [text]="''"
          [customClass]="
            'p-2 rounded-full hover:bg-gray-100 disabled:opacity-50 disabled:cursor-not-allowed w-auto'
          "
          (click)="changeUserOpinions('next')"
          [disabled]="currentUserOpinionsIndex() === userOpinions().length - 1"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5l7 7-7 7"
            />
          </svg>
        </app-button>
      </div>
    </div>
    } @else {
    <p class="text-center text-gray-500">
      Aucun avis disponible pour le moment.
    </p>
    }

    <div class="text-center mt-8">
      <app-button
        [text]="'Partagez votre expérience'"
        [color]="'tertiary'"
        [rounded]="true"
        [customClass]="
          'hover:bg-quaternary font-semibold py-3 px-6 transition-colors duration-300'
        "
        (click)="openModal()"
      >
      </app-button>
    </div>
  </div>
</section>

<app-modal [isOpen]="isModalOpen()" (close)="closeModal()">
  <app-add-user-opinions></app-add-user-opinions>
</app-modal>
