<div class="admin-dashboard min-h-screen p-4 sm:p-8 bg-primary">
  <!-- En-tête -->
  <h1
    class="text-2xl sm:text-3xl lg:text-4xl font-bold mb-6 sm:mb-8 text-center text-quinary"
  >
    Panneau d'administration du Zoo
  </h1>

  <!-- Menu de navigation -->
  <nav class="bg-secondary rounded-lg shadow-lg shadow-tertiary/30 mb-8">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-3 p-4">
      <!-- Boutons de navigation -->
      @for (item of navigationItems; track item.route) {
      <app-button
        [text]="item.text"
        [type]="'button'"
        [color]="'tertiary'"
        [rounded]="true"
        class="w-full transition-transform hover:scale-102"
        (click)="navigateTo(item.route)"
      ></app-button>
      }
    </div>
  </nav>

  <!-- Contenu principal -->
  <div class="bg-white rounded-lg shadow-lg p-4 mb-8">
    <app-count-resource />
    <router-outlet></router-outlet>
  </div>

  <!-- Bouton de retour -->
  <div class="flex justify-center pt-4">
    <div class="w-full sm:w-1/4 lg:w-1/5">
      <app-button
        [text]="'Retour accueil'"
        [type]="'button'"
        [color]="'tertiary'"
        [rounded]="true"
        class="w-full font-bold py-1 sm:px-4 sm:py-2 text-sm sm:text-base"
        (click)="goBack()"
      ></app-button>
    </div>
  </div>
</div>
