<section class="bg-primary shadow py-4">
  <!-- Titre de la section -->
  <div class="text-center mb-4">
    <h1 class="text-xl font-bold md:text-2xl lg:text-6xl font-serif">
      Ce qu'ils pensent d'Arcadia
    </h1>
    <h3 class="text-lg text-quinary font-sans pt-4">
      Découvrez les avis de nos visiteurs
    </h3>
  </div>

  <!-- Contenu des avis -->
  <div class="relative px-4 max-w-full mx-auto overflow-hidden">
    <!-- Bouton de défilement gauche -->
    <button
      (click)="changeReview('previous')"
      class="absolute left-2 sm:left-[calc(20%-4rem)] md:left-[calc(15%-2rem)] lg:left-[calc(25%-2rem)] xl:left-[calc(35%-2rem)] top-1/2 transform -translate-y-1/2 bg-quinary p-2 md:p-3 rounded-full z-10"
    >
      <svg
        class="w-5 h-5 md:w-6 md:h-6 text-white"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M15 19l-7-7 7-7"
        ></path>
      </svg>
    </button>

    <!-- Carte d'avis unique en accordéon -->
    @if (reviews$ | async; as reviews) {
    <!-- Si des avis existent -->
    @if (reviews.length > 0) {
    <div
      class="bg-secondary rounded-lg p-4 shadow-md w-3/4 max-w-sm md:max-w-md mx-auto"
    >
      <!-- Flex pour organiser nom et date -->
      <div class="flex justify-between items-center">
        <h3 class="font-serif text-md md:text-lg font-bold text-quinary">
          {{ reviews[currentReviewIndex].name }}
        </h3>
        <!-- Date à droite -->
        <div class="text-right font-serif text-xs md:text-sm text-quinary">
          <p>Le {{ reviews[currentReviewIndex].date | date : "dd/MM/yyyy" }}</p>
        </div>
      </div>
      <!-- Affichage des étoiles -->
      <div class="flex space-x-1 mb-4">
        <app-rate
          [rating]="reviews[currentReviewIndex].rating"
          [stars]="stars"
          [isReadOnly]="true"
        ></app-rate>
      </div>
      <!-- Message de l'avis -->
      <p class="font-serif text-sm md:text-md text-quinary">
        {{ reviews[currentReviewIndex].message }}
      </p>
    </div>
    } @else {
    <div class="text-center text-quinary">
      Aucun avis disponible pour le moment.
    </div>
    } }

    <!-- Bouton de défilement droite -->
    <button
      (click)="changeReview('next')"
      class="absolute right-2 sm:right-[calc(20%-4rem)] md:right-[calc(15%-2rem)] lg:right-[calc(25%-2rem)] xl:right-[calc(35%-2rem)] top-1/2 transform -translate-y-1/2 bg-quinary p-2 md:p-3 rounded-full z-10"
    >
      <svg
        class="w-5 h-5 md:w-6 md:h-6 text-primary"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5l7 7-7 7"
        ></path>
      </svg>
    </button>
  </div>

  <!-- Bandeau en bas avec le bouton "Laissez-nous votre avis" -->
  <div
    class="bg-secondary text-primary rounded-none md:rounded-lg py-3 px-4 mt-6 flex flex-col md:flex-row justify-around items-center space-y-2 md:space-y-0 mx-auto w-full md:w-1/2"
  >
    <p class="text-center text-quinary text-lg md:text-left font-semibold">
      LAISSEZ-NOUS VOTRE AVIS
    </p>

    <!-- Ajustement de la taille du bouton en fonction de la taille de l'écran -->
    <div class="w-full sm:w-2/5 md:w-1/3 lg:w-1/4">
      <app-button
        [text]="'Donner mon avis'"
        [type]="'button'"
        [color]="'tertiary'"
        [rounded]="true"
        (click)="openModal()"
      ></app-button>
    </div>
  </div>
</section>

<!-- Composant pour ajouter un avis -->
<app-add-review></app-add-review>
