<nav class="bg-secondary z-50 fixed top-0 w-full shadow">
  <div
    id="main-nav"
    class="bg-secondary w-full mx-auto p-4 flex items-center justify-between flex-wrap md:p-5"
  >
    <a
      href="#top"
      aria-label="Accueil du portfolio"
      class="text-lg lg:text-xl text-primary font-bold"
    >
      Zoo Arcadia
    </a>
    <button
      aria-controls="main-navlist"
      aria-expanded="false"
      id="menu-toggler"
      class="cursor-pointer w-7 md:hidden"
    >
      <img
        width="28"
        height="28"
        src="images/menu.svg"
        alt="Ouvrir et fermer le menu"
      />
    </button>
    <ul
      id="main-navlist"
      class="bg-secondary hidden text-center w-full pt-4 text-primary md:w-auto md:block md:pt-0"
    >
      <li class="block py-3 md:inline md:py-0 md:mr-6">
        <a
          href="#accueil"
          class="text-sm uppercase font-semibold hover:text-quaternary"
          >Accueil
        </a>
      </li>
      <li class="block py-3 md:inline md:py-0 md:mr-6">
        <a
          href="#services"
          class="text-sm uppercase font-semibold hover:text-quaternary"
          >Services
        </a>
      </li>
      <li class="block py-3 md:inline md:py-0 md:mr-6">
        <a
          href="#habitats"
          class="text-sm uppercase font-semibold hover:text-quaternary"
          >Habitats
        </a>
      </li>
      <li class="block py-3 md:inline md:py-0 md:mr-6">
        <a
          href="#contact"
          class="text-sm uppercase font-semibold hover:text-quaternary"
          >Contact
        </a>
      </li>
      <li class="block py-3 md:inline md:py-0">
        <a
          href="#connexion"
          class="text-sm uppercase font-semibold hover:text-quaternary"
          >Connexion
        </a>
      </li>
    </ul>
  </div>
</nav>

<app-banner />
