<!-- Section de gestion des services -->
<section
  class="service-management mb-12 p-6 bg-secondary rounded-lg shadow-xl shadow-tertiary"
>
  <h2 class="text-2xl font-semibold mb-8 text-center">Gestion des services</h2>

  <div class="flex flex-col lg:flex-row gap-8">
    <!-- Formulaire de création/mise à jour de service -->
    <div class="w-full lg:w-1/2 bg-gray-100 p-6 rounded-lg shadow-sm">
      <h3 class="text-xl font-semibold mb-4">
        {{ newService.id ? "Modifier le service" : "Créer un service" }}
      </h3>
      <form
        class="space-y-4"
        (ngSubmit)="createService()"
        enctype="multipart/form-data"
      >
        <div>
          <label for="service-name" class="block text-lg font-medium mb-2"
            >Nom du service:</label
          >
          <input
            type="text"
            id="name"
            [(ngModel)]="newService.name"
            name="name"
            required
            class="w-full p-2 border border-gray-300 rounded-md"
            placeholder="Nom du service"
          />
        </div>

        <div>
          <label for="description" class="block text-lg font-medium mb-2"
            >Description:</label
          >
          <textarea
            id="description"
            [(ngModel)]="newService.description"
            name="description"
            required
            class="w-full p-2 border border-gray-300 rounded-md"
            placeholder="Description du service"
          ></textarea>
        </div>

        <div>
          <label for="location" class="block text-lg font-medium mb-2"
            >Emplacement:</label
          >
          <input
            type="text"
            id="location"
            [(ngModel)]="newService.location"
            name="location"
            required
            class="w-full p-2 border border-gray-300 rounded-md"
            placeholder="Emplacement du service"
          />
        </div>

        <div>
          <label for="hours" class="block text-lg font-medium mb-2"
            >Horaires d'ouverture:</label
          >
          <input
            type="text"
            id="hours"
            [(ngModel)]="newService.hours"
            name="hours"
            required
            class="w-full p-2 border border-gray-300 rounded-md"
            placeholder="Horaires d'ouverture"
          />
        </div>

        <div class="grid grid-cols-3 gap-2">
          @for (feature of features; track feature.id) {
          <div class="flex items-center">
            <input
              type="checkbox"
              id="feature-{{ feature.id }}"
              [value]="feature.id"
              (change)="onFeatureChange(feature, $event)"
              [checked]="isFeatureSelected(feature)"
              class="mr-2"
            />
            <label for="feature-{{ feature.id }}">{{ feature.name }}</label>
          </div>
          }
        </div>

        <div>
          <label for="service-image" class="block text-lg font-medium mb-2"
            >Image du service:</label
          >
          <input
            type="file"
            id="service-image"
            (change)="onFileChange($event)"
            class="w-full p-2 border border-gray-300 rounded-md"
          />
        </div>

        <div class="flex space-x-2">
          <app-button
            [text]="newService.id ? 'Modifier' : 'Créer'"
            [type]="'submit'"
            [color]="'tertiary'"
            [rounded]="true"
            class="w-1/2 sm:w-1/3 lg:w-1/4 font-bold px-4"
          ></app-button>
          <app-button
            [text]="'Annuler'"
            [type]="'button'"
            [color]="'secondary'"
            [rounded]="true"
            class="w-1/2 sm:w-1/3 lg:w-1/4 font-bold px-2"
            (click)="cancel()"
          ></app-button>
        </div>

        @if (!features.length) {
        <p class="text-red-500">
          Aucune caractéristique disponible pour le moment.
        </p>
        }
      </form>
    </div>

    <!-- Liste des services -->
    <div class="w-full lg:w-1/2 bg-gray-100 p-6 rounded-lg shadow-sm">
      <h3 class="text-xl font-semibold mb-4">Liste des services</h3>
      <table class="w-full border-collapse bg-white rounded-lg shadow-sm">
        <thead>
          <tr class="bg-gray-200 text-left text-sm font-semibold text-gray-700">
            <th class="border p-3">Image</th>
            <th class="border p-3">Nom</th>
            <th class="border p-3">Description</th>
            <th class="border p-3">Actions</th>
          </tr>
        </thead>
        <tbody>
          @for (service of displayedServiceList; track service.id) {

          <tr class="border-b last:border-0">
            <td class="border p-3">
              <img
                [src]="service.image"
                alt="Image du service"
                class="w-40 h-40 object-cover rounded-md"
              />
            </td>
            <td class="border p-3">{{ service.name }}</td>
            <td class="border p-3">
              @if (!service.showFullDescription) {
              <span>{{ service.description | slice : 0 : 20 }}...</span>
              } @else {0
              <span>{{ service.description }}</span>
              }
              <button
                class="text-blue-500 hover:underline mt-2"
                (click)="toggleDescription(service.id)"
              >
                @if (!service.showFullDescription) { Lire la suite } @else {
                Voir moins }
              </button>
            </td>
            <td class="border p-3">
              <div class="flex space-x-2">
                <app-button
                  [text]="'Modifier'"
                  [type]="'button'"
                  [color]="'secondary'"
                  [rounded]="true"
                  [customClass]="'text-xs px-2 py-1 w-auto font-bold'"
                  (click)="updateService()"
                ></app-button>
                <app-button
                  [text]="'Supprimer'"
                  [type]="'button'"
                  [color]="'red'"
                  [rounded]="true"
                  [customClass]="'text-xs px-2 py-1 w-auto font-bold'"
                  (click)="deleteService(service.id)"
                ></app-button>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</section>
