<section
  class="service-management mb-8 sm:mb-12 px-4 sm:px-6 py-6 bg-secondary rounded-lg shadow-xl shadow-tertiary"
>
  <h2 class="text-xl sm:text-2xl font-semibold mb-6 sm:mb-8 text-center">
    Gestion des services
  </h2>

  <div class="container mx-auto flex flex-col gap-6 sm:gap-8 lg:flex-row">
    <!-- Formulaire de création/mise à jour de service -->
    <div class="w-full lg:w-1/2 bg-gray-100 p-4 sm:p-6 rounded-lg shadow-sm">
      <h3 class="text-lg sm:text-xl font-semibold mb-3 sm:mb-4">
        {{ newService().id ? "Modifier le service" : "Créer un service" }}
      </h3>
      <form
        class="space-y-3 sm:space-y-4"
        (ngSubmit)="newService().id ? updateService() : createService()"
        enctype="multipart/form-data"
      >
        <div>
          <label
            for="service-name"
            class="block text-base sm:text-lg font-medium mb-1 sm:mb-2"
            >Nom du service:</label
          >
          <input
            type="text"
            id="name"
            [(ngModel)]="newService().name"
            name="name"
            required
            class="w-full p-2 border border-gray-300 rounded-md"
            placeholder="Nom du service"
          />
        </div>

        <div>
          <label
            for="description"
            class="block text-base sm:text-lg font-medium mb-1 sm:mb-2"
            >Description:</label
          >
          <textarea
            id="description"
            [(ngModel)]="newService().description"
            name="description"
            required
            class="w-full p-2 border border-gray-300 rounded-md"
            placeholder="Description du service"
          ></textarea>
        </div>

        <div>
          <label
            for="location"
            class="block text-base sm:text-lg font-medium mb-1 sm:mb-2"
            >Emplacement:</label
          >
          <input
            type="text"
            id="location"
            [(ngModel)]="newService().location"
            name="location"
            required
            class="w-full p-2 border border-gray-300 rounded-md"
            placeholder="Emplacement du service"
          />
        </div>

        <div>
          <label
            for="hours"
            class="block text-base sm:text-lg font-medium mb-1 sm:mb-2"
            >Horaires d'ouverture:</label
          >
          <input
            type="text"
            id="hours"
            [(ngModel)]="newService().hours"
            name="hours"
            required
            class="w-full p-2 border border-gray-300 rounded-md"
            placeholder="Horaires d'ouverture"
          />
        </div>

        <div class="grid grid-cols-2 sm:grid-cols-3 gap-2">
          @for (feature of features(); track feature.id) {
          <div class="flex items-center">
            <input
              type="checkbox"
              id="feature-{{ feature.id }}"
              [value]="feature.id"
              (change)="onFeatureChange(feature, $event)"
              [checked]="isFeatureSelected(feature)"
              class="mr-2"
            />
            <label for="feature-{{ feature.id }}">{{ feature.name }}</label>
          </div>
          }
        </div>

        <div>
          <label
            for="service-image"
            class="block text-base sm:text-lg font-medium mb-1 sm:mb-2"
            >Image du service:</label
          >
          <input
            type="file"
            id="service-image"
            (change)="onFileChange($event)"
            class="w-full p-2 border border-gray-300 rounded-md"
          />
        </div>

        <div class="flex space-x-2">
          <app-button
            [text]="newService().id ? 'Modifier' : 'Créer'"
            [type]="'submit'"
            [color]="'tertiary'"
            [rounded]="true"
            class="w-full sm:w-1/2 lg:w-1/4 font-bold px-4"
          ></app-button>
          <app-button
            [text]="'Annuler'"
            [type]="'button'"
            [color]="'secondary'"
            [rounded]="true"
            class="w-full sm:w-1/2 lg:w-1/4 font-bold px-4"
            (click)="cancel()"
          ></app-button>
        </div>
      </form>
    </div>

    <!-- Liste des services -->
    <div class="w-full lg:w-1/2 bg-gray-100 p-4 sm:p-6 rounded-lg shadow-sm">
      <h3 class="text-lg sm:text-xl font-semibold mb-3 sm:mb-4">
        Liste des services
      </h3>
      <div class="space-y-4 sm:space-y-6">
        @for (service of serviceList(); track service.id) {
        <div
          class="p-4 bg-white rounded-lg shadow-md flex flex-col sm:flex-row items-center"
        >
          <img
            [src]="service.image"
            alt="Image du service"
            class="w-full sm:w-24 lg:w-32 h-32 object-cover rounded-md mb-4 sm:mb-0 sm:mr-4"
          />
          <div class="flex-1">
            <h4 class="text-lg font-semibold">{{ service.name }}</h4>
            <p class="text-sm sm:text-base">
              <span class="font-semibold">Emplacement:</span>
              {{ service.location }}
            </p>
            <p class="text-sm sm:text-base">
              <span class="font-semibold">Horaires:</span> {{ service.hours }}
            </p>

            <p class="text-sm sm:text-base">
              <span class="font-semibold">Déscription: </span>
              @if (!service.showFullDescription) {
              <span>{{ service.description | slice : 0 : 30 }}...</span>
              } @else {
              <span>{{ service.description }}</span>
              }
              <button
                class="text-blue-500 hover:underline mt-2"
                (click)="toggleDescription(service.id)"
              >
                @if (!service.showFullDescription) { Lire la suite } @else {
                Voir moins }
              </button>
            </p>
          </div>
          <div class="flex space-x-2 mt-4 sm:mt-0 sm:ml-4">
            <app-button
              [text]="'Modifier'"
              [type]="'button'"
              [color]="'secondary'"
              [rounded]="true"
              [customClass]="'text-xs px-2 py-1 font-bold'"
              (click)="editService(service.id)"
            ></app-button>
            <app-button
              [text]="'Supprimer'"
              [type]="'button'"
              [color]="'red'"
              [rounded]="true"
              [customClass]="'text-xs px-2 py-1 font-bold'"
              (click)="deleteService(service.id)"
            ></app-button>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
  <!-- Bouton de retour -->
  <div class="flex justify-center pt-4">
    <div class="w-full sm:w-1/4 lg:w-1/5">
      <app-button
        [text]="'Retour'"
        [type]="'button'"
        [color]="'tertiary'"
        [rounded]="true"
        class="w-full font-bold py-1 sm:px-4 sm:py-2 text-sm sm:text-base"
        (click)="goBack()"
      ></app-button>
    </div>
  </div>
</section>
