<section class="w-full bg-primary shadow py-4">
  <div class="text-center">
    <h1
      class="text-xl sm:text-2xl md:text-6xl text-quinary font-bold font-serif"
    >
      Contactez-nous
    </h1>
    <h3 class="text-lg text-quinary font-sans">
      Nous serions ravis de vous entendre
    </h3>
  </div>
  <div class="flex justify-center mt-6">
    <form
      [formGroup]="contactForm"
      (ngSubmit)="onSubmit()"
      class="w-full max-w-lg"
    >
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
          Nom
        </label>
        <input
          formControlName="name"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="name"
          type="text"
          placeholder="Votre nom"
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
          Email
        </label>
        <input
          formControlName="email"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="email"
          type="email"
          placeholder="Votre email"
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="message">
          Message
        </label>
        <textarea
          formControlName="message"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="message"
          rows="4"
          placeholder="Votre message"
        ></textarea>
      </div>
      <div class="flex items-center justify-between">
        <button
          class="bg-tertiary hover:bg-primary text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="submit"
          [disabled]="!contactForm.valid"
        >
          Envoyer
        </button>
      </div>
    </form>
  </div>
</section>
