@if (animal()) {
<section class="w-full bg-primary shadow py-4">
  <div class="text-center">
    <h1
      class="text-xl font-bold font-serif text-quinary sm:text-2xl md:text-6xl pb-4"
    >
      {{ animal()?.name }}
    </h1>
  </div>
  <div class="flex justify-center w-full px-4">
    <div
      class="bg-secondary shadow-lg rounded-lg p-4 w-full flex flex-col items-center sm:w-3/4 lg:w-2/3"
    >
      <div class="w-full flex justify-center">
        <img
          [src]="animal()?.image"
          [alt]="animal()?.name"
          class="w-full h-auto object-cover rounded-lg shadow-lg sm:w-3/4 md:w-1/2"
        />
      </div>
      <div
        class="bg-primary rounded-lg w-full mt-4 text-left sm:w-3/4 md:w-1/2 text-quinary ps-4 py-2"
      >
        <p class="text-tertiary text-xl font-semibold text-center md:text-2xl">
          {{ animal()?.species }} - ( {{ animal()?.name }})
        </p>
        <p class="text-sm mt-2 md:text-base">
          <span class="font-bold">Habitat :</span> {{ habitat()?.name }}
        </p>
        <p class="text-sm mt-2 md:text-base">
          <span class="font-bold">Caractéristiques :</span>
          {{ animal()?.characteristics }}
        </p>
        <p class="text-sm mt-2 md:text-base">
          <span class="font-bold">Poids :</span> {{ animal()?.weightRange }}
        </p>
        <p class="text-sm mt-2 md:text-base">
          <span class="font-bold">Régime :</span> {{ animal()?.diet }}
        </p>
      </div>

      <!-- Section des notes vétérinaires -->
      @if (animal()?.vetNote) {
      <div
        class="bg-primary rounded-lg w-full mt-6 text-left sm:w-3/4 md:w-1/2 px-4 py-2"
      >
        <h2 class="text-xl font-bold text-tertiary">Note du vétérinaire</h2>
        <p class="text-gray-600 text-sm mt-2 md:text-base">
          <span class="font-bold">État de l'animal :</span>
          {{ animal()?.vetNote?.animalState }}
        </p>
        <p class="text-gray-600 text-sm mt-2 md:text-base">
          <span class="font-bold">Nourriture proposée :</span>
          {{ animal()?.vetNote?.food }}
        </p>
        <p class="text-gray-600 text-sm mt-2 md:text-base">
          <span class="font-bold">Grammage :</span>
          {{ animal()?.vetNote?.foodWeight }} kg
        </p>
        <p class="text-gray-600 text-sm mt-2 md:text-base">
          <span class="font-bold">Date de passage :</span>
          {{ animal()?.vetNote?.visitDate | date : "dd/MM/yyyy" }}
        </p>
        <p class="text-gray-600 text-sm mt-2 md:text-base">
          <span class="font-bold">Détails supplémentaires :</span>
          {{ animal()?.vetNote?.additionalDetails }}
        </p>
      </div>
      }

      <div class="w-full flex justify-center pt-6 space-x-4">
        <app-button
          [text]="'Retour accueil'"
          [type]="'button'"
          [color]="'tertiary'"
          [rounded]="true"
          class="w-1/2 sm:w-1/3 lg:w-1/4 font-bold"
          (click)="goBack()"
        ></app-button>
        <app-button
          [text]="'Retour habitat'"
          [type]="'button'"
          [color]="'quinary'"
          [rounded]="true"
          class="w-1/2 sm:w-1/3 lg:w-1/4 font-bold"
          (click)="goHabitat()"
        ></app-button>
      </div>
    </div>
  </div>
</section>
}
