<!-- Section de gestion des habitats -->
<section
  class="habitats-management mb-12 p-6 bg-secondary rounded-lg shadow-xl shadow-tertiary"
>
  <h2 class="text-2xl font-semibold mb-8 text-center">Gestion des habitats</h2>

  <div class="flex flex-col lg:flex-row gap-8">
    <!-- Formulaire de gestion des habitats -->
    <div class="w-full lg:w-1/2 bg-gray-100 p-6 rounded-lg shadow-sm">
      <h3 class="text-xl font-semibold mb-4">
        {{ newHabitat.id ? "Modifier l'habitat" : "Créer un habitat" }}
      </h3>
      <form
        class="space-y-3 sm:space-y-4"
        (ngSubmit)="newHabitat.id ? updateHabitat() : createHabitat()"
        enctype="multipart/form-data"
      >
        <div>
          <label
            for="habitat-name"
            class="block text-base sm:text-lg font-medium mb-1 sm:mb-2"
            >Nom de l'habitat:</label
          >
          <input
            type="text"
            id="name"
            [(ngModel)]="newHabitat.name"
            name="name"
            required
            class="w-full p-2 border border-gray-300 rounded-md"
            placeholder="Nom de l'habitat"
          />
        </div>
        <div>
          <label
            for="description"
            class="block text-base sm:text-lg font-medium mb-1 sm:mb-2"
            >Description:</label
          >
          <textarea
            id="description"
            [(ngModel)]="newHabitat.description"
            name="description"
            required
            class="w-full p-2 border border-gray-300 rounded-md"
            placeholder="Description de l'habitat"
          ></textarea>
        </div>
        <div>
          <label
            for="habitat-image"
            class="block text-base sm:text-lg font-medium mb-1 sm:mb-2"
            >Images:</label
          >
          <input
            type="file"
            id="habitat-images"
            (change)="onFileChange($event)"
            class="w-full p-2 border border-gray-300 rounded-md"
          />
        </div>
        <div class="flex space-x-2">
          <app-button
            [text]="newHabitat.id ? 'Modifier' : 'Créer'"
            [type]="'submit'"
            [color]="'tertiary'"
            [rounded]="true"
            class="w-full sm:w-1/2 lg:w-1/4 font-bold px-4"
          ></app-button>
          <app-button
            [text]="'Annuler'"
            [type]="'button'"
            [color]="'secondary'"
            [rounded]="true"
            class="w-full sm:w-1/2 lg:w-1/4 font-bold px-4"
            (click)="cancel()"
          ></app-button>
        </div>
      </form>
    </div>

    <!-- Liste des habitats dans des cards avec @for et @if-->
    <div class="w-full lg:w-1/2 bg-gray-100 p-4 sm:p-6 rounded-lg shadow-sm">
      <h3 class="text-lg sm:text-xl font-semibold mb-3 sm:mb-4">
        Liste des habitats
      </h3>
      <div class="space-y-4 sm:space-y-6">
        @for (habitat of habitatList; track habitat.id) {
        <div
          class="p-4 bg-white rounded-lg shadow-md flex flex-col sm:flex-row items-center"
        >
          <img
            [src]="habitat.image"
            alt="Image de l'habitat"
            class="w-24 h-24 sm:w-32 sm:h-32 object-cover rounded-lg shadow-md mb-4 sm:mb-0 sm:mr-4"
          />
          <div class="flex-1">
            <h4 class="text-lg font-semibold">{{ habitat.name }}</h4>
            <p class="text-sm sm:text-base">
              <span class="font-semibold">Description:</span>
              @if (!habitat.showDescription) {
              <span>{{ habitat.description | slice : 0 : 30 }}...</span>
              } @else {
              <span>{{ habitat.description }}</span>
              }
              <button
                class="text-blue-500 hover:underline mt-2"
                (click)="toggleDescription(habitat.id)"
              >
                @if (!habitat.showDescription) { Lire la suite } @else { Voir
                moins }
              </button>
            </p>
          </div>
          <div class="flex space-x-2 mt-4 sm:mt-0 sm:ml-4">
            <app-button
              [text]="'Modifier'"
              [type]="'button'"
              [color]="'tertiary'"
              [rounded]="true"
              [customClass]="'text-xs px-2 py-1 font-bold'"
              (click)="editHabitat(habitat.id)"
            ></app-button>
            <app-button
              [text]="'Supprimer'"
              [type]="'button'"
              [color]="'red'"
              [rounded]="true"
              [customClass]="'text-xs px-2 py-1 font-bold'"
              (click)="deleteHabitat(habitat.id)"
            ></app-button>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
  <!-- Bouton de retour -->
  <div class="flex justify-center pt-4">
    <div class="w-full sm:w-1/4 lg:w-1/5">
      <app-button
        [text]="'Retour'"
        [type]="'button'"
        [color]="'tertiary'"
        [rounded]="true"
        class="w-full font-bold py-1 sm:px-4 sm:py-2 text-sm sm:text-base"
        (click)="goBack()"
      ></app-button>
    </div>
  </div>
</section>
