<section class="w-screen bg-primary shadow pt-4 pb-4">
  <!-- Titre de la section -->
  <div class="text-center">
    <h1 class="text-xl sm:text-2xl md:text-3xl font-bold font-serif">
      Nos Services
    </h1>
  </div>

  <!-- Utilisation de flex avec un layout en colonne pour mobile -->
  <div
    class="flex flex-col sm:flex-row sm:flex-nowrap justify-center gap-6 sm:px-12 pb-4 pt-4"
  >
    <!-- Service 1 : Restauration -->
    <div class="relative group w-full sm:w-auto h-auto">
      <img
        src="images/img_services/restauration.svg"
        alt="Restauration"
        class="w-full h-full object-cover"
      />
      <div
        class="absolute inset-0 flex items-center justify-center rounded-full bg-black bg-opacity-8git0 opacity-0 group-hover:opacity-100 transition-opacity"
      >
        <span class="text-white font-sans text-4xl">Restauration</span>
      </div>
    </div>

    <!-- Service 2 : Visite -->
    <div class="relative group w-full sm:w-auto h-auto sm:mx-12">
      <img
        src="images/img_services/visite.svg"
        alt="Visite"
        class="w-full h-full object-cover"
      />
      <div
        class="absolute inset-0 flex items-center justify-center rounded-full bg-black bg-opacity-80 opacity-0 group-hover:opacity-100 transition-opacity"
      >
        <span class="text-white font-sans text-4xl">Visite du Zoo</span>
      </div>
    </div>

    <!-- Service 3 : Train -->
    <div class="relative group w-full sm:w-auto h-auto">
      <img
        src="images/img_services/train.svg"
        alt="Train"
        class="w-full h-full object-cover"
      />
      <div
        class="absolute inset-0 flex items-center justify-center rounded-full bg-black bg-opacity-80 opacity-0 group-hover:opacity-100 transition-opacity"
      >
        <span class="text-white font-sans text-4xl">Visite en train</span>
      </div>
    </div>
  </div>
</section>
