<section class="w-screen bg-primary shadow pt-4">
  <!-- Titre de la section -->
  <div class="text-center mb-4">
    <h1
      class="text-xl sm:text-2xl md:text-3xl font-bold text-secondary font-serif"
    >
      Nos Services
    </h1>
  </div>

  <!-- Utilisation de flex pour une seule ligne -->
  <div class="flex flex-nowrap justify-center gap-6 px-12">
    <!-- Service 1 : Restauration -->
    <div class="relative group w-full h-64">
      <img
        src="images/services/restauration.svg"
        alt="Habitat de la Jungle"
        class="w-full h-full object-cover rounded-b-lg"
      />
    </div>
  </div>
</section>
