<!-- Section principale des statistiques -->
<section
  class="w-full bg-gradient-to-b from-secondary to-primary shadow-lg py-8"
>
  <div class="container mx-auto px-4">
    <!-- En-tête avec titre et sous-titre -->
    <div class="text-center space-y-4 mb-12">
      <h1
        class="text-3xl md:text-5xl lg:text-6xl font-serif font-bold text-quinary"
      >
        Tableau de Bord
      </h1>
      <p
        class="text-lg md:text-xl text-tertiary font-serif italic max-w-4xl mx-auto"
      >
        Vue d'ensemble des statistiques du zoo
      </p>
    </div>

    <!-- Composant des statistiques des ressources -->
    <app-count-resource />
  </div>
</section>
