<section class="container mx-auto">
  <!-- Section du titre et de la présentation du zoo -->
  <div class="text-center">
    <h1
      class="text-2xl sm:text-4xl sm:pt-2 lg:text-6xl font-bold font-serif mb-4 mt-4"
    >
      Bienvenue sur le site du Zoo Arcadia
    </h1>
    <blockquote class="px-4">
      <svg
        class="w-8 h-8 text-gray-400 dark:text-gray-600 mb-4"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 18 14"
      >
        <path
          d="M6 0H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3H2a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Zm10 0h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3h-1a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Z"
        />
      </svg>
      <p
        class="text-base sm:text-lg md:text-xl text-quinary font-sans leading-relaxed max-w-8xl mx-auto my-4"
      >
        Le Zoo Arcadia fondé en 1960, est un parc zoologique situé près de la
        légendaire forêt de Brocéliande, en Bretagne, France. Ce zoo, reconnu
        pour son engagement en faveur du bien-être animal et de l'écologie, est
        un lieu de conservation où les animaux sont soigneusement répartis selon
        leurs habitats naturels : savane, jungle, et marais. Chaque jour, une
        équipe de vétérinaires effectue des contrôles rigoureux sur chaque
        animal avant l’ouverture du zoo pour garantir leur bonne santé. De plus,
        l’alimentation des animaux est minutieusement calculée pour répondre aux
        besoins nutritionnels spécifiques de chaque espèce.
      </p>
    </blockquote>
  </div>

  <!-- Section des habitats -->
  <div class="flex justify-center mb-8">
    <!-- Carte 1 -->
    <img
      src="images/img_home/img-back.webp"
      alt="Savane"
      class="w-full h-96 object-cover rounded-lg"
    />
  </div>
</section>
