<div class="admin-dashboard p-8 bg-primary">
  <h1 class="text-3xl font-bold mb-8 text-center">Admin Dashboard</h1>

  <nav>
    <ul class="flex space-x-4 justify-center">
      <li><a routerLink="account-management">Gestion des comptes</a></li>
      <li><a routerLink="service-management">Modification des services</a></li>
      <li><a routerLink="habitat-management">Gestion des habitats</a></li>
      <li><a routerLink="animal-management">Gestion des animaux</a></li>
      <li><a routerLink="vet-reports">Comptes rendus des vétérinaires</a></li>
      <li><a routerLink="habitats-dashboard">Consultation des habitats</a></li>
    </ul>
  </nav>

  <!-- Section du dashboard de consultation des habitats -->
  <section class="habitats-dashboard p-6 bg-white rounded-lg shadow-md">
    <h2 class="text-2xl font-semibold mb-4 flex justify-center">
      Compteur de consultation des habitats
    </h2>
    <div class="statistics">
      <!-- Les statistiques dynamiques seront insérées ici -->
    </div>
  </section>

  <router-outlet />
</div>
