<section class="w-full bg-primary shadow py-4">
  <!-- Titre de la section -->
  <div class="text-center">
    <h1
      class="text-xl sm:text-2xl md:text-6xl text-quinary font-bold font-serif"
    >
      Nos Animaux
    </h1>
    <h3
      class="text-base sm:text-lg md:text-xl text-quinary font-sans leading-relaxed max-w-7xl mx-auto my-4"
    >
      Découvrez les animaux fascinants qui peuplent nos trois habitats uniques.
      Dans la jungle luxuriante, le tigre Raihan rôde silencieusement, tandis
      que le singe Ziko s'amuse dans les hauteurs, le perroquet Kapi explore la
      canopée colorée, et le serpent Liana chasse discrètement. Les marais
      mystérieux abritent Grom, le puissant crocodile, ainsi que Nymbus, le
      héron élégant, Flip la grenouille chanteuse, et Sly le serpent aquatique.
      Dans la savane aride, Aslan, le lion majestueux, règne en maître aux côtés
      de Tembo, l'éléphant imposant, Zuri, la girafe élancée, et Dash, le rapide
      guépard. Chaque animal révèle un aperçu captivant de son habitat naturel.
    </h3>
  </div>

  <!-- Liste des animaux avec la directive @for -->
  <div
    appRandomAnimals
    [animals]="animals()"
    [count]="3"
    (updateAnimals)="onUpdateDisplayedAnimals($event)"
    class="flex flex-wrap justify-center gap-2 sm:gap-4 md:gap-6 lg:gap-4 mb-4 px-4"
  >
    <!-- Boucle @for pour afficher les cartes d'animaux -->
    @for (animal of displayedAnimals(); track animal.id_animal) {
    <div
      class="flex justify-center pt-4 w-full sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/4"
    >
      <a [routerLink]="['/animal', animal.id_animal]" class="w-full">
        <div
          class="bg-secondary shadow-lg rounded-lg p-6 text-center"
          appBorderCardAnimal
        >
          <!-- Titre de l'animal -->
          <h2 class="text-xl font-bold text-primary mb-4">
            {{ animal.name }}
          </h2>

          <!-- Image de l'animal -->
          <div
            class="w-full h-full overflow-hidden rounded-lg flex justify-center items-center"
          >
            <img
              [src]="animal.images"
              [alt]="animal.name"
              loading="lazy"
              class="w-96 h-96 object-cover rounded-lg"
            />
          </div>
        </div>
      </a>
    </div>
    }
  </div>
</section>
