<section class="w-full bg-primary shadow py-8">
  <!-- En-tête de la section -->
  <div class="container mx-auto px-4">
    <div class="text-center mb-12">
      <h1 class="text-3xl md:text-5xl font-serif text-quinary font-bold mb-6">
        Nos Services
      </h1>
      <p class="text-base md:text-lg text-quinary font-sans max-w-4xl mx-auto">
        Découvrez nos animaux fascinants qui peuplent nos trois habitats uniques
        : la jungle luxuriante, les marais mystérieux et la savane aride. Chaque
        animal révèle un aperçu captivant de son habitat naturel.
      </p>
    </div>

    <!-- Liste des animaux -->
    <div
      appRandomAnimals
      [animals]="animals()"
      [count]="3"
      (updateAnimals)="onUpdateDisplayedAnimals($event)"
      class="max-w-7xl mx-auto px-4"
    >
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        @for (animal of displayedAnimals(); track animal.id_animal) {
        <a
          [routerLink]="['/animal', animal.id_animal]"
          class="transform transition duration-300 hover:scale-105"
        >
          <div class="bg-primary rounded-2xl shadow-lg overflow-hidden">
            <!-- Image de l'animal -->
            <div class="aspect-w-16 aspect-h-9">
              <img
                [src]="animal.images"
                [alt]="animal.name"
                loading="lazy"
                class="w-full h-96 object-cover"
              />
            </div>
            <!-- Informations de l'animal -->
            <div class="p-6">
              <h2
                class="text-2xl font-bold text-tertiary mb-2 text-center font-serif"
              >
                {{ animal.name }}
              </h2>
            </div>
          </div>
        </a>
        }
      </div>
    </div>
  </div>
</section>
