<section
  class="w-full bg-gradient-to-b from-primary to-secondary shadow-lg py-8"
>
  <div class="container mx-auto px-4">
    <div class="text-center space-y-4 mb-12">
      <h2
        class="text-3xl md:text-5xl lg:text-6xl font-serif font-bold text-quinary"
      >
        Nos Animaux
      </h2>
      <p
        class="text-lg md:text-xl text-tertiary font-serif italic max-w-4xl mx-auto"
      >
        Découvrez nos animaux fascinants qui peuplent nos trois habitats uniques
        : la jungle luxuriante, les marais mystérieux et la savane aride. Chaque
        animal révèle un aperçu captivant de son habitat naturel.
      </p>
    </div>

    <div
      appRandomAnimals
      [animals]="animals()"
      [count]="3"
      (updateAnimals)="onUpdateDisplayedAnimals($event)"
      class="max-w-7xl mx-auto"
    >
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        @for (animal of displayedAnimals(); track animal.id_animal) {
        <div
          class="bg-white rounded-2xl shadow-lg hover:shadow-xl transition-all duration-300 overflow-hidden"
        >
          <a
            [routerLink]="['/animal', animal.id_animal]"
            class="block relative group"
          >
            <div class="aspect-square overflow-hidden">
              <img
                [src]="animal.images"
                [alt]="animal.name"
                loading="lazy"
                class="w-full h-full object-cover transform group-hover:scale-105 transition-transform duration-500"
              />
            </div>

            <div
              class="absolute inset-0 bg-gradient-to-t from-tertiary/90 to-tertiary/60 opacity-0 group-hover:opacity-100 transition-all duration-300 flex flex-col justify-center items-center p-6"
            >
              <h3
                class="text-primary text-xl md:text-2xl font-serif font-semibold mb-4"
              >
                {{ animal.name }}
              </h3>
              <span class="text-primary/90 text-sm md:text-base">
                Cliquez pour découvrir
              </span>
            </div>

            <div
              class="absolute bottom-0 left-0 right-0 bg-tertiary/80 backdrop-blur-sm p-4 transform translate-y-0 group-hover:translate-y-full transition-transform duration-300"
            >
              <h3
                class="text-primary text-lg font-serif font-semibold text-center"
              >
                {{ animal.name }}
              </h3>
            </div>
          </a>
        </div>
        }
      </div>
    </div>
  </div>
</section>
